* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  letter-spacing: 1.5;
}

/*content start*/
section {
  width: 100%;
  height: 100vh;
  text-align: center;
}

#welcome-section {
  background: linear-gradient(100deg, #f7dce4, #e797ad);
  color: #fff; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

h1 {
  font-size: 2.1em;
  font-weight: normal;
}

#projects {
background-color: #fdf5f7;
  color: #000;
  height: fit-content;
  margin-bottom: 15px;
        margin-top: 15px;
}

h2 {
  font-size: 1.3em;
  font-weight: normal;
  padding: 20px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

.projects-grid {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 1280px;
    padding: 15px;
}
.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}
img {
    display: block;
    width: 100%;
}
div a {
  text-decoration: none;
  color: #111;
}
.project-tile {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

#contact {
  background: linear-gradient(360deg, #e797ad, #f7dce4);
  color: #fff; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/*content end*/

.contact-details {
    text-decoration: none;
    font-size: 1.5rem;
}
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
    background-color: #fdf5f7; 
    margin: 10px;
    color: #111;
}
.fab {
    font-family: "Font Awesome 5 Brands";
}

footer {
  text-align: center;
  padding: 7px;
}

@media (max-width: 768px) {
/* navbar start */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #de7492;
  padding: 10px;  
}
ul {
  list-style: none;  
}
li a {
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  font-size: 1.2em;
}
/* Change the link color to #111 (black) on active */
li a:hover, li a:active {
  background-color: gray;
}
/*navbar end*/
}

@media (min-width: 768px) {
  /*navbar start*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #de7492;
  padding: 10px;
}
ul {
  list-style: none;
}
li {
  display: inline;
  float: right;
}
li a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  font-size: 1.2em;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
/*navbar end*/
}
